.search--mobile{
  display: none !important;
}
.search--desktop {
  padding-right: 10px;
}
.search--desktop input::placeholder {
  color: black;
  opacity: 1; 
}
.search--desktop input:-ms-input-placeholder,
.search--desktop input::-ms-input-placeholder{
  color: black;
}
.search--desktop input:before,
.search--desktop input:after{
  border-radius: 15px;
}