.search--mobile{
  display: none !important;
}
.search--desktop {
  padding-right: 10px;
}
.search--desktop input::placeholder {
  color: black;
  opacity: 1; 
}
.search--desktop input:-ms-input-placeholder,
.search--desktop input::-ms-input-placeholder{
  color: black;
}

.search--desktop .field:before,
.search--desktop .field:after,
.search--desktop .field:hover::before,
.search--desktop .field:hover::after{
  border-radius: 15px;
  -webkit-appearance: none;
  outline: none;
}
.search--desktop .field input:focus{
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
}
.header__icon--wishlist:hover img{
  transform: scale(1.1);
}
.header__icon--wishlist img{
  opacity: 0.8;
  max-width: 25px;
  margin-left: 10px;
}
.shopify-section-header-sticky{
  box-shadow: 0 10px 30px #0000000d;
}
.slideshow__controls {
  position: absolute !important;
  bottom: 0;
  z-index: 3 !important;
  width: 100%;
  background: none;
  border: none !important;
}
.slideshow__controls .slideshow__autoplay{
  display: none;
}
.slideshow__controls svg,
.slideshow__controls {
  color: white;
}
.slideshow__controls .slider-counter--dots .slider-counter__link{
  padding: 0;
}
.slideshow__controls .slider-counter--dots .slider-counter__link span{
  width: 80px;
  border-color: none;
  border-radius: 0 !important;
  border: none;
}
.slideshow__controls .slider-counter--dots .slider-counter__link.slider-counter__link--active span{
  background: white;
}
.slideshow__control-wrapper{
  border-radius: 10px;
  border: 1px solid white;
  overflow: hidden;
}
.slideshow .button,
.collection-homepage .button{
  background: #03989E;
  border: none;
  color: white;
  border-radius: 10px;
}
.slideshow .button:focus,
.slideshow .button:hover,
.slideshow .button:before,
.slideshow .button:after,
.slideshow .button:hover::after,
.slideshow .button:hover::before,
.collection-homepage .button:focus,
.collection-homepage .button:hover,
.collection-homepage .button:before,
.collection-homepage .button:after,
.collection-homepage .button:hover::after,
.collection-homepage .button:hover::before{
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  border: none;
}
.collection-homepage .title{
  text-align: center;
}
.imagewith-text-custom .image-with-text__media {
  border: none;
}
.imagewith-text-custom h2{
  font-weight: bold;
  line-height: 36px;
}
.imagewith-text-custom h2 span{
  font-size: 28px;
}
.wishlist-circle{
  position: relative;
  z-index: 99;
}
.product-grid .grid__item{
  position: relative;
}
.wishlist-circle{
  position: absolute;
  z-index: 99;
  top: 15px;
  right: 20px;
}
.wishlist-circle button img{
  width: 100%;
  transition: all 0.3s ease;
}
.wishlist-circle button{
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background: #b8d8d9f2;
  border: none;
  box-shadow: 0 0 10px #0000006b;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wishlist-circle button.disabled,
.wishlist-circle button:hover{
  background: #03989e;
}
.wishlist-circle button.disabled img,
.wishlist-circle button:hover img{
  filter: invert(1);
}
.custom-class-rating.rating {
  margin-bottom: 10px;
}
.custom-class-rating.rating .rating-star:before{
  font-size: 22px !important;
  color: #03989e !important;
  -webkit-text-fill-color: #03989e !important;
}
.icon-container-foot{
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.icon-container-foot img{
  filter: invert(1);
  border: none !important;
}
.icon-container-foot p{
  margin: 0;
}
.icon-container-foot p a{
  text-decoration: none;
}
.icon-container-foot p a:hover{
  text-decoration: underline;
}
.mt10{
  margin-top: 25px;
}
.slideshow__control-wrapper{
  margin: 0;
}
.make-video-rounded .deferred-media__poster,
.make-video-rounded iframe{
  border-radius: 20px;
}
.make-video-rounded .video-section__media {
  border: none;
  box-shadow: 0 0 30px 0px #0000001c;
  border-radius: 20px;
}
#shopify-section-header{
  z-index: 100;
}
.our-stores .multicolumn-card{
  background: linear-gradient(51deg, rgb(0 226 235) 15%, rgba(33, 249, 150, 1) 85%) !important;
}
.our-stores{
  margin: 50px 0;
}
.contact-page .footer{
  margin-top: 0 !important;
}
.contact-page #ContactForm{
  background: #ffffff00;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000001a;
  padding: 30px;
  margin-top: 30px;
}
.contact-page #ContactForm .field{
  border: 2px solid #0000000f;
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000014;
  color: black;
  padding: 4px 10px;
}
.contact-page #ContactForm .field input,
.contact-page #ContactForm .field::after,
.contact-page #ContactForm .field::before,
.contact-page #ContactForm label {
  color: black;
}
.contact-page #ContactForm .button{
  background: #03989E;
  color: white;
}
.article-card .card__inner{
  border-radius: 20px !important;
  overflow: hidden;
}
.article-template__hero-container{
  max-width: 100% !important;
}

.home-page #insta-feed a:nth-of-type(n+6) {
  display: none;
}





@media (max-width: 749px){
  .custom-class-rating.rating .rating-star:before{
    font-size: 18px !important;
  }
  .card__content product-form form{
    display: none;
  }
  .search--desktop{
    display: none;
  }
  header .header__heading-logo{
    max-width: 100px;
  }
  .slideshow__controls .slider-counter--dots .slider-counter__link span{
    width: 30px;
  }
  .wishlist-circle button{
    height: 32px;
    width: 32px;
  }
  .wishlist-circle{
    top: 6px;
    right: 8px;
  }
  .footer__blocks-wrapper{
    display: flex !important;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
  .footer__blocks-wrapper .footer-block--menu{
    max-width: calc(50% - 5px);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .footer-block.grid__item{
    margin: 0 !important;
  }
  .footer-block__details-content .list-menu__item--link{
    font-size: 11px;
  }
  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content{
    min-height: 440px !important;
  }
  .contact-page .banner__box{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .contact-page .banner__media img{
    object-position: 30%;
  }
  .contact-page .banner__media:after{
    background: #ffffff !important;
    opacity: 0.4 !important;
  }
  .hero-about:after{
    opacity: 0.3 !important;
    background: white !important;
  }
  #insta-feed h2{
    font-size: 20px;
  }
}