.search--mobile{
  display: none !important;
}
.search--desktop {
  padding-right: 10px;
}
.search--desktop input::placeholder {
  color: black;
  opacity: 1; 
}
.search--desktop input:-ms-input-placeholder,
.search--desktop input::-ms-input-placeholder{
  color: black;
}
.search--desktop .field:before,
.search--desktop .field:after{
  border-radius: 15px;
}
.header__icon--wishlist:hover img{
  transform: scale(1.1);
}
.header__icon--wishlist img{
  opacity: 0.8;
  max-width: 25px;
  margin-left: 10px;
}